* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(17, 17, 27, 0.9);
}

button {
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: 25%;
    border: 3px solid #ffcc99;
    background-color: rgba(49, 50, 68, 0.6);
    color: #cdd6f4;
    margin: 10px;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.0);
}

button label {
    margin-top: 130px;
}

button:focus,
button:active,
button:hover {
    background-color: #ff9966;
    outline-style: none;
    color: #11111b;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}